@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap';

/* Blue Archive Color (SchaleDB, etc.) */
:root {
  --color-ba-logo: #128afa;
  --color-ba-mmt: #f19eaa;
  --color-ba-stu-striker: #cc1a25;
  --color-ba-stu-special: #006bff;

  /* --color-bs-* are from Bootstrap, see more below */
  --color-bs-primary: #0d6efd;

  /* 移动端width */
  --js-mobile-width: 800px;
  --js-mobile-width-wide: 1200px;
}

/* Fonts */
*:lang(zh_CN),
*:lang(zh_cn) {
  font-family: 'Noto Sans SC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}
*:lang(zh_TW),
*:lang(zh_tw) {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei UI', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
}
*:lang(en),
*:lang(fr),
*:lang(de),
*:lang(it),
*:lang(ru),
*:lang(vi),
*:lang(pt),
*:lang(pt-PT) {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
}
*:lang(jp),
*:lang(ja) {
  font-family: 'Noto Sans JP', sans-serif;
}
*:lang(kr),
*:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}
*:lang(th) {
  font-family: 'Noto Sans Thai', sans-serif;
}

/* Bootstrap (partially adopted) */
a {
  color: var(--color-bs-primary);
}

/* Command */
cmd-char {
  display: none;
}
